<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Timer Mode</string>
			<key>Key</key>
			<string>TOTimerType</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Track by Goal</string>
				<string>Track Pay</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Goal Timer Increment</string>
			<key>Key</key>
			<string>TOGoalIncrement</string>
			<key>DefaultValue</key>
			<integer>6</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>10</string>
				<string>15</string>
			</array>
			<key>Titles</key>
			<array>
				<string>1 Minute</string>
				<string>2 Minutes</string>
				<string>3 Minutes</string>
				<string>4 Minutes</string>
				<string>5 Minutes</string>
				<string>6 Minutes</string>
				<string>10 Minutes</string>
				<string>15 Minutes</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Delete Logs After</string>
			<key>Key</key>
			<string>TODeleteAfter</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>7</string>
				<string>14</string>
				<string>30</string>
				<string>60</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Never</string>
				<string>1 Week</string>
				<string>2 Weeks</string>
				<string>1 Month</string>
				<string>2 Months</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
